# Build outputs
*.apk
*.ap_
*.aab
*.dex
*.class
build/
bin/
gen/
out/

# IDE files
*.iml
.idea/
!.idea/codeInsightSettings.xml
.navigation/
captures/

# Gradle
.gradle/
local.properties
secrets.properties

# Keystore
keystore/
keystore.properties
*.jks

# Firebase
google-services.json

# Logs
*.log

# macOS
*.DS_Store

# External native build
.externalNativeBuild

# Optional: generated images (remove if you want to keep these)
ic_launcher.xml
ic_launcher-playstore.png
ic_launcher_foreground.webp
ic_launcher_round.xml